@model VideoBurstWeb.Models.ChangeInitialPasswordModel
@{
    ViewBag.Title = "Account Suspended";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
    ViewBag.Heading = "Account Suspended";
}
 
<div class="jumbotron homejumbotron1">
    <h1 class="mainHeading">
         <span class="redText">Your account is suspended. Please contact us or email us support@videoburst.com to resolve this issue.
    </span> 
</h1>
 
<p style="height: 15px"></p>
 
</div>

 