@{
    ViewBag.Title = "Privacy Policy";
    ViewBag.Heading = "Privacy Policy";
}

<div class="col-sm-9 rightBar helpBar">
    <div class="row">
        <div class="col-sm-7 helpLeft">
            &nbsp;
        </div>
        <div class="col-sm-5 mainSearch">
            <input type="text" class="form-control searchInput" placeholder="Search..."><a href="#" class="glyphicon glyphicon-search searchIcon">&nbsp;</a>
        </div>
    </div>
    <div class="row placeholders mainContent topMargin">
        <div class="content">
            <div class="col-sm-6 text-left videoMainContent">
                @Resources.ApplicationTranslations.PP_Text_1
                <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>
