<footer class="footer">
    <div class="container footerBar padding-topbottom leftnavPadding">
        <p class="text-muted">&copy; 2016 Videoburst.com</p>
        <p class="text-muted">
        @*@Html.ActionLink("Terms of Services", "Terms-of-Services", "Content") | 
        @Html.ActionLink("Privacy Policy", "Privacy-Policy", "Content")*@

            <a href="~/termsofservices.html" target="_blank">@Resources.ApplicationTranslations.TOS_Text</a> |
             <a href="~/privacy-policy.html" target="_blank">@Resources.ApplicationTranslations.PP_Text</a>
        
        
        </p>
    </div>
</footer>
