 
    <div class="whitebg">
       
        <div class="paddingboth">
            <h1 class="planHeading black-text">Basic</h1>
           
            <hr>
            <ul class="list-unstyled planlist">
                <li><strong>✓</strong> Users: 1</li>
                <li><strong>✓</strong> Videos: 10</li>
                <li><strong>✓</strong> 99 sek / extra video</li>
                <li><strong>✓</strong> Full HD 1080p</li>
                <li><strong>✓</strong> Company logo</li>
                <li><strong>✓</strong> Licensed music</li>
                <li><strong>✓</strong> Cloud storage</li>
                <li><strong>✓</strong> Streaming: 1000 views</li>
                <li><strong>✓</strong> Download to computer</li>
                <li><strong>✓</strong> Support: mail</li>
                <li><strong>✓</strong> Cancel anytime</li>
                <li><strike><strong>✓</strong> Enable Custom templates</strike></li>
                <li><strong>✓</strong> Call to action</li>
            </ul>
             
            <p>&nbsp;</p>
        </div>
    </div>
 