<div class="whitebg padding-upgrade marginTop box-shadow boxborder-radius">
    <div class="row">
        <div class="col-sm-12">
            <h4>Subscription information</h4>
            <div class=" blue-bg border-radiustopL border-radiustopR padding-topbottom">
                <h3 class="whiteText text-center">Videoburst Enterprise</h3>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="white-bgborder border-radiusbotL border-radiusbotR">
                <ul class="marginTop marginbottom listmarginleft">
                    <li>Things</li>
                    <li>Stuff</li>
                    <li>Money</li>
                    <li>Eternal love</li>
                    <li>Bling bling</li>
                    <li>The iron throne</li>
                    <li>A free hot dog</li>
                    <li>Unlimited pizza</li>
                    <li>The white house</li>
                </ul>
            </div>
        </div>
    </div>
</div>