<div class="col-sm-3 marginTop">
    <div class="whitebg">
        <h4 class="pink-bg headingpadding"></h4>
        <div class="paddingboth">
            <h1 class="planHeading redText">On Demand</h1>
            
            <hr>
            <ul class="list-unstyled planlist">
                <li><strong class="redText">✓</strong> Users: 1</li>
                <li><strong class="redText">✓</strong> 290 sek / video</li>
                <li><strong class="redText">✓</strong> Full HD 1080p</li>
                <li><strong class="redText">✓</strong> Company logo</li>
                <li><strike><strong class="">✓</strong> Licensed music</strike></li>
                <li><strike><strong class="">✓</strong> Cloud storage</strike></li>
                <li><strong class="redText">✓</strong> Streaming: –</li>
                <li><strong class="redText">✓</strong> Download to computer</li>
                <li><strong class="redText">✓</strong> Support: mail</li>
                <li><strike><strong class="">✓</strong> Enable Custom templates</strike></li>
                <li><strike><strong class="">✓</strong> Call to action</strike></li>
            </ul>            
            <p>&nbsp;</p>
        </div>
    </div>
</div>