@model VideoBurstWeb.Models.UserBillingModel
@*<div class="whitebg box-shadow">*@
<div>
    <div class="paddingboth">       
        <hr>
        <ul class="list-unstyled planlist">
            <li><strong class="blueText text-bold">✓</strong> Users: @Model.LevelUsers </li>
            <li><strong class="blueText text-bold">✓</strong> Videos: @Model.LevelVideos</li>
            <li><strong class="blueText text-bold">✓</strong> 2 @Model.Currency / extra video</li>
            <li><strong class="blueText text-bold">✓</strong> Full HD 1080p</li>
            <li><strong class="blueText text-bold">✓</strong> Company logo</li>
            <li><strong class="blueText text-bold">✓</strong> Licensed music</li>
            <li><strong class="blueText text-bold">✓</strong> Cloud storage</li>
            <li><strong class="blueText text-bold">✓</strong> Streaming: 1000 views</li>
            <li><strong class="blueText text-bold">✓</strong> Download to computer</li>
            <li><strong class="blueText text-bold">✓</strong> Support: mail</li>
            <li><strong class="blueText text-bold">✓</strong> Cancel anytime</li>
            <li><strike><strong class="text-bold">✓</strong> Enable Custom templates</strike></li>
            <li><strong class="blueText text-bold">✓</strong> Call to action</li>
        </ul>

        <p>&nbsp;</p>
    </div>
</div>