@{
    ViewBag.Title = "Access Denied";
    ViewBag.heading = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-9 rightbarInner generalinnerdiv">

    <div class="row">
        <p>

        </p>
        <h3> This is not allowed. Please contact at support@videoburst.com</h3>
    </div>
</div>