@{
    ViewBag.Title = "Response";
    ViewBag.heading = "Response";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-9 rightbarInner generalinnerdiv">

    <div class="row">         
        <p>
        
        </p>
        <p>@ViewBag.Message</p>
    </div>
</div>